.field {
    width: 33.33%;
    height: 33.33%;
    border: 1px solid;
    cursor: pointer;
    user-select: none;
}
.x, .o {
    font-size: 5rem;
    text-align: center;
}
.x::after {
    content: 'x';
}
.o::after {
    content: 'o';
}
.green {
    color: green;
}
