* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 300px;
  border: 1px solid;
  margin: 100px auto 0;
}
.game-over {
  text-align: center;
  margin: 1rem auto 0;
}
.try-again {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
}
